{% load static %}
<html>
<head>
	<title>News Page</title>
	<link rel="icon" href="{% static 'images/logo1.png' %}" type="image/icon type">
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
	 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
	  <!-- Propeller CSS -->  
	  <link rel="stylesheet" href="css/propeller.min.css">
	   <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/font-awesome.min.css'%}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css" media="all" />
</head>
<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Optimized by SG Optimizer plugin version - 5.7.14 -->
	<!-- This site is optimized with the Yoast SEO plugin v15.7 - https://yoast.com/wordpress/plugins/seo/ -->
	<title>Resources Archive - Accion Systems</title>
	<meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
	<link rel="canonical" href="https://accion-systems.com/resources/">
	<meta property="og:locale" content="en_US">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Resources Archive - Accion Systems">
	<meta property="og:url" content="https://accion-systems.com/resources/">
	<meta property="og:site_name" content="Accion Systems">
	<meta name="twitter:card" content="summary_large_image">
	<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-WCDW2SD"></script><script type="application/ld+json" class="yoast-schema-graph">{"@context":"https://schema.org","@graph":[{"@type":"WebSite","@id":"https://accion-systems.com/#website","url":"https://accion-systems.com/","name":"Accion Systems","description":"Redefining Space Mobility","potentialAction":[{"@type":"SearchAction","target":"https://accion-systems.com/?s={search_term_string}","query-input":"required name=search_term_string"}],"inLanguage":"en-US"},{"@type":"CollectionPage","@id":"https://accion-systems.com/resources/#webpage","url":"https://accion-systems.com/resources/","name":"Resources Archive - Accion Systems","isPartOf":{"@id":"https://accion-systems.com/#website"},"inLanguage":"en-US","potentialAction":[{"@type":"ReadAction","target":["https://accion-systems.com/resources/"]}]}]}</script>
	<!-- / Yoast SEO plugin. -->


<link rel="dns-prefetch" href="//ajax.googleapis.com">
<link rel="dns-prefetch" href="//s.w.org">
<link rel="stylesheet" id="wp-block-library-css" href="https://accion-systems.com/app/wp-includes/css/dist/block-library/style.min.css?ver=5.6.3" type="text/css" media="all">
<link rel="stylesheet" id="wp-components-css" href="https://accion-systems.com/app/wp-includes/css/dist/components/style.min.css?ver=5.6.3" type="text/css" media="all">
<link rel="stylesheet" id="wp-editor-font-css" href="https://fonts.googleapis.com/css?family=Noto+Serif%3A400%2C400i%2C700%2C700i&amp;ver=5.6.3" type="text/css" media="all">
<link rel="stylesheet" id="wp-block-editor-css" href="https://accion-systems.com/app/wp-includes/css/dist/block-editor/style.min.css?ver=5.6.3" type="text/css" media="all">
<link rel="stylesheet" id="wp-nux-css" href="https://accion-systems.com/app/wp-includes/css/dist/nux/style.min.css?ver=5.6.3" type="text/css" media="all">
<link rel="stylesheet" id="wp-editor-css" href="https://accion-systems.com/app/wp-includes/css/dist/editor/style.min.css?ver=5.6.3" type="text/css" media="all">
<link rel="stylesheet" id="block_slider-cwp-style-css-css" href="https://accion-systems.com/content/plugins/block-slider/dist-free/blocks.style.build.css" type="text/css" media="all">
<link rel="stylesheet" id="main-stylesheet-css" href="https://accion-systems.com/content/themes/accion/dist/assets/css/app.css?ver=1.0.4" type="text/css" media="all">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js?ver=3.2.1" id="jquery-js"></script>
<link rel="https://api.w.org/" href="https://accion-systems.com/wp-json/">	<!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WCDW2SD');</script>
    <!-- End Google Tag Manager -->
	<link rel="icon" href="https://accion-systems.com/content/uploads/2020/09/cropped-favicon-1-32x32.png" sizes="32x32">
<link rel="icon" href="https://accion-systems.com/content/uploads/2020/09/cropped-favicon-1-192x192.png" sizes="192x192">
<link rel="apple-touch-icon" href="https://accion-systems.com/content/uploads/2020/09/cropped-favicon-1-180x180.png">
<meta name="msapplication-TileImage" content="https://accion-systems.com/content/uploads/2020/09/cropped-favicon-1-270x270.png">
	<meta class="foundation-mq"></head>

<body>
	{%  include 'app/navbar.html' %}
<div class="main-container main-archive-container">
	<div class="archive-header-container">
		<div class="archive-content-header grid-x grid-margin-x">
			<div class="cell large-7 small-12">
				<h1>News</h1>
			</div>
			<div class="cell large-5 small-12">
							</div>
		</div>
	</div>

	<main class="main-content grid-container">
									<div class="grid-x grid-margin-y grid-margin-x small-up-12 medium-up-6 large-up-3">
									
<article id="resource-510" class="wall-post cell post-510 resources type-resources status-publish format-link has-post-thumbnail hentry">
	<a href="https://www.nasa.gov/feature/mit-spl-delivers-the-scalable-ion-electrospray-propulsion-system-s-ieps-for-cubesats-to-nasa" target="_blank">
					<div class="featured-img-container is-logo">
									<div class="logo" style="background-image: url('https://accion-systems.com/content/uploads/2020/09/NASA-Logo.svg')"></div>
							</div>
				
		<div class="post-content-container">
							<span class="post-category">
					NASA				</span>
				 | 			
			<date class="date">September 10, 2020</date>

			<h4 class="post-title">
				Report: Scalable Ion Electrospray Propulsion System (S-iEPS)			</h4>
		</div>
					<button class="archive-post-button link">
				Download			</button>
			</a>
</article>
									
<article id="resource-516" class="wall-post cell post-516 resources type-resources status-publish format-video has-post-thumbnail hentry resource_category-featured-on-home-page resource_category-featured-on-technology-page" data-open="modal-516" aria-controls="modal-516" aria-haspopup="true" tabindex="0">
			<div class="featured-img-container">
							<img width="738" height="415" src="https://accion-systems.com/content/uploads/2020/09/TEDx-Talks@2x.png" class="attachment-featured-post size-featured-post wp-post-image" alt="" srcset="https://accion-systems.com/content/uploads/2020/09/TEDx-Talks@2x.png 738w, https://accion-systems.com/content/uploads/2020/09/TEDx-Talks@2x-300x169.png 300w, https://accion-systems.com/content/uploads/2020/09/TEDx-Talks@2x-640x360.png 640w" sizes="(max-width: 639px) 98vw, (max-width: 1199px) 64vw, 738px">					</div>
		
	<div class="post-content-container">
					<span class="post-category">
				TEDx Talks			</span>
			 | 		
		<date class="date">November 27, 2018</date>

		<h4 class="post-title">
			The Human Side of Rocket Science | Natalya Bailey PhD | TEDxSanFrancisco		</h4>
	</div>
			<button class="archive-post-button video">Watch Video</button>
	</article>



									
<article id="resource-517" class="wall-post cell post-517 resources type-resources status-publish format-video has-post-thumbnail hentry resource_category-featured-on-home-page" data-open="modal-517" aria-controls="modal-517" aria-haspopup="true" tabindex="0">
			<div class="featured-img-container">
							<img width="738" height="415" src="https://accion-systems.com/content/uploads/2020/09/Image@2x.png" class="attachment-featured-post size-featured-post wp-post-image" alt="" srcset="https://accion-systems.com/content/uploads/2020/09/Image@2x.png 738w, https://accion-systems.com/content/uploads/2020/09/Image@2x-300x169.png 300w, https://accion-systems.com/content/uploads/2020/09/Image@2x-640x360.png 640w" sizes="(max-width: 639px) 98vw, (max-width: 1199px) 64vw, 738px">					</div>
		
	<div class="post-content-container">
					<span class="post-category">
				Bloomberg			</span>
			 | 		
		<date class="date">July 26, 2018</date>

		<h4 class="post-title">
			This 31-Year-Old Is Changing Space Travel		</h4>
	</div>
			<button class="archive-post-button video">Watch Video</button>
	</article>



									
<article id="resource-518" class="wall-post cell post-518 resources type-resources status-publish format-video has-post-thumbnail hentry resource_category-featured-on-home-page" data-open="modal-518" aria-controls="modal-518" aria-haspopup="true" tabindex="0">
			<div class="featured-img-container">
							<img width="738" height="415" src="https://accion-systems.com/content/uploads/2020/09/Hello-Tomorrow@2x.png" class="attachment-featured-post size-featured-post wp-post-image" alt="" srcset="https://accion-systems.com/content/uploads/2020/09/Hello-Tomorrow@2x.png 738w, https://accion-systems.com/content/uploads/2020/09/Hello-Tomorrow@2x-300x169.png 300w, https://accion-systems.com/content/uploads/2020/09/Hello-Tomorrow@2x-640x360.png 640w" sizes="(max-width: 639px) 98vw, (max-width: 1199px) 64vw, 738px">					</div>
		
	<div class="post-content-container">
					<span class="post-category">
				 Hello Tomorrow			</span>
			 | 		
		<date class="date">April 16, 2018</date>

		<h4 class="post-title">
			Why is Ion Propulsion the Next Big Thing for Satellites? | Louis Perna, Accion Systems		</h4>
	</div>
			<button class="archive-post-button video">Watch Video</button>
	</article>



									
<article id="resource-515" class="wall-post cell post-515 resources type-resources status-publish format-video has-post-thumbnail hentry" data-open="modal-515" aria-controls="modal-515" aria-haspopup="true" tabindex="0">
			<div class="featured-img-container">
							<img width="738" height="415" src="https://accion-systems.com/content/uploads/2020/09/PBS-Newshour@2x.png" class="attachment-featured-post size-featured-post wp-post-image" alt="" srcset="https://accion-systems.com/content/uploads/2020/09/PBS-Newshour@2x.png 738w, https://accion-systems.com/content/uploads/2020/09/PBS-Newshour@2x-300x169.png 300w, https://accion-systems.com/content/uploads/2020/09/PBS-Newshour@2x-640x360.png 640w" sizes="(max-width: 639px) 98vw, (max-width: 1199px) 64vw, 738px">					</div>
		
	<div class="post-content-container">
					<span class="post-category">
				PBS NewsHour			</span>
			 | 		
		<date class="date">January 01, 2018</date>

		<h4 class="post-title">
			How to Visit Mars With a Tiny Satellite, Static Electricity and Ion Thrusters		</h4>
	</div>
			<button class="archive-post-button video">Watch Video</button>
	</article>



									
<article id="resource-512" class="wall-post cell post-512 resources type-resources status-publish format-link has-post-thumbnail hentry resource_category-featured-on-technology-page">
	<a href="https://www.researchgate.net/profile/David_Krejci/publication/293958845_SCALABLE_IONIC_LIQUID_ELECTROSPRAY_THRUSTERS_FOR_NANOSATELLITES/links/5798c5ef08aeb0ffcd08b8c1/SCALABLE-IONIC-LIQUID-ELECTROSPRAY-THRUSTERS-FOR-NANOSATELLITES.pdf" target="_blank">
					<div class="featured-img-container is-logo">
									<div class="logo" style="background-image: url('https://accion-systems.com/content/uploads/2020/09/MIT-Logo.svg')"></div>
							</div>
				
		<div class="post-content-container">
							<span class="post-category">
					MIT				</span>
				 | 			
			<date class="date">February 08, 2016</date>

			<h4 class="post-title">
				Scalable Ionic Liquid Electrospray Thrusters for Nanosatellites			</h4>
		</div>
					<button class="archive-post-button link">
				Download			</button>
			</a>
</article>
									
<article id="resource-511" class="wall-post cell post-511 resources type-resources status-publish format-link has-post-thumbnail hentry resource_category-featured-on-technology-page">
	<a href="https://www.researchgate.net/profile/David_Krejci/publication/280098850_Design_and_Characterization_of_a_Scalable_ion_Electrospray_Propulsion_System/links/55a9135808aea3d086802b63.pdf" target="_blank">
					<div class="featured-img-container is-logo">
									<div class="logo" style="background-image: url('https://accion-systems.com/content/uploads/2020/09/MIT-Logo.svg')"></div>
							</div>
				
		<div class="post-content-container">
							<span class="post-category">
					MIT				</span>
				 | 			
			<date class="date">July 10, 2015</date>

			<h4 class="post-title">
				Design &amp; Characterization of a Scalable Ion Electrospray Propulsion System			</h4>
		</div>
					<button class="archive-post-button link">
				Download			</button>
			</a>
</article>
									
<article id="resource-513" class="wall-post cell post-513 resources type-resources status-publish format-link has-post-thumbnail hentry">
	<a href="https://www.sciencedirect.com/science/article/abs/pii/S0021979704008422" target="_blank">
					<div class="featured-img-container is-logo">
									<div class="logo" style="background-image: url('https://accion-systems.com/content/uploads/2020/09/MIT-Logo.svg')"></div>
							</div>
				
		<div class="post-content-container">
							<span class="post-category">
					MIT				</span>
				 | 			
			<date class="date">February 15, 2005</date>

			<h4 class="post-title">
				Ionic Liquid Ion Sources: Characterization of Externally Wetted Emitters			</h4>
		</div>
					<button class="archive-post-button link">
				Download			</button>
			</a>
</article>
							</div>
			
				
	</main>
</div>
<div class="container-fluid">
{% block content %}
	
{% endblock %}
    </div>
	 
	 
    {%  include 'app/footer.html' %}	
</body>
<!-- jQuery first, then Popper.js, then Bootstrap JS, then Propeller js -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	  <script type="text/javascript" src="js/propeller.min.js"></script> 
	    <script src="https://account.snatchbot.me/script.js"></script><script>window.sntchChat.Init(144947)</script>
</html>

