{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Services Page</title>
	<link rel="icon" href="{% static 'images/logo.png' %}" type="image/icon type">
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
	 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
	  <!-- Propeller CSS -->  
	  <link rel="stylesheet" href="css/propeller.min.css">
	   <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/font-awesome.min.css'%}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
	{%  include 'app/navbar.html' %}
    <!-- Intro with Text Center -->
 
<div class="banner-wrap">
    <div class="pmd-intro-bg-img pmd-intro-img-overlay" style="background-image:url(https://pro.propeller.in/assets/images/intro-with-text-center.jpg);">
        <div class="container">
            <div class="pmd-intro-container d-flex row justify-content-center text-light text-center">
                <div class="align-self-center col-lg-9">
                    <h1 class="pmd-display3">
                    <br></br>
                    <br></br>
                    <br></br> 	
A Hands-on, ProActive, and Thematic<br> Venture
Capital Investor</h1>
                    <hr>
                    <p class="lead">
                        We provide endless possibilities and unique solutions with a simple and streamlined creative process.
                    </p>
                    <a href="javascript:void(0);" class="btn btn-outline-light pmd-ripple-effect btn-lg">Read More</a><br></br>
                    <br></br>
                    <br></br>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- specialization section -->
 <section class="service-w3ls">
	<div class="container">
		<i class="fa fa-braille" aria-hidden="true"></i>	
		<h3 class="text-center w3-agileits agileits-w3layouts agile w3-agile">Our Captalist Details</h3>
		 
	</div>	
	<div class="container">
		<div class="col-lg-3 col-md-6 col-sm-6">	
			<ul class="ch-grid">
				<li>
					<div class="ch-item ch-img-1">
						<div class="ch-info-wrap">
							<div class="ch-info">
								<div class="ch-info-front ch-img-1"></div>
								<div class="ch-info-back">
									<h3>features of  venture captalists</h3>
									<p>By venture captalist Store</p>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>	
			<h5>features of captalist</h5>
			 
		</div>
		<div class="col-lg-3 col-md-6 col-sm-6">	
			<ul class="ch-grid">
				<li>
					<div class="ch-item ch-img-2">
						<div class="ch-info-wrap">
							<div class="ch-info">
								<div class="ch-info-front ch-img-2"></div>
								<div class="ch-info-back">
									<h3>Best in services</h3>
									<p>By venture captalist Store</p>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>			
			<h5>Best In Services</h5>
			 
		</div>	
		<div class="col-lg-3 col-md-6 col-sm-6">
			<ul class="ch-grid">
				<li>
					<div class="ch-item ch-img-3">
						<div class="ch-info-wrap">
							<div class="ch-info">
								<div class="ch-info-front ch-img-3"></div>
								<div class="ch-info-back">
									<h3>Best In support and management</h3>
									<p>By venture captalist Store</p>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<h5>Best In Support and management</h5>
			 
		</div>
		<div class="col-lg-3 col-md-6 col-sm-6">
			<ul class="ch-grid">
				<li class="serv4">
					<div class="ch-item ch-img-4">
						<div class="ch-info-wrap">
							<div class="ch-info">
								<div class="ch-info-front ch-img-4"></div>
								<div class="ch-info-back">
									<h3>Best In financing</h3>
									<p>By venture capatalist Store</p>
								</div>
							</div>
						</div>
					</div>
				</li>	
			</ul>
			<h5>Best In financing</h5>
			 
		</div>
		<div class="clearfix"></div>
	</div>	
</section>
<section class="service-agileits"> 
	<div class="container">
		<i class="fa fa-trophy" aria-hidden="true"></i>
		<h3 class="text-center">Our Work Information</h3>
		 
<center>
		<div class="lead-6 line-height-1 text-dark w-70px"><i class="fa fa-area-chart text-warning lead-4 mb-5"></i>
		</div>

			<div class="media-body">
                  <h5 style="font-size: 20px;">Track the metrics that matter</h5>
                  <p style="font-size: 20px;">Select from a range of sample metrics or create your own metrics to analyze the performance of your portfolio companies</p>
			</div>
</center>




		<center>
                <div class="lead-8 line-height-3 text-primary w-90px"><i class="fa fa-refresh text-warning lead-4 mb-5"></i></div>
                <div class="media-body">

                  <h5 style="font-size: 20px;">Stay in loop</h5>
                  <p style="font-size: 20px;">Communicate better with your portfolio companies by collecting what you want, when you want</p>
                </div>
              </div>
            </div>
	</center>
		<center>
                <div class="lead-6 line-height-1 text-info w-70px"><i class="fa fa-eye text-warning lead-4 mb-5"></i></div>
                <div class="media-body">
                  <h5 style="font-size: 20px;">A bird's eye view</h5>
                  <p style="font-size: 20px;">Create requests, send reminders and collect regular updates from all your companies, from a single dashboard</p>
                </div>
              </div>
	    </center>

        <center>
                <div class="lead-6 line-height-1 text-warning w-70px"><i class="fa fa-file-text-o text-warning lead-4 mb-5"></i></div>
                <div class="media-body">
                  <h5 style="font-size: 20px;">Report to impress</h5>
                  <p style="font-size: 20px;">Create custom reports so that your investors never miss out any information</p>
                </div>
              </div>
            </div>
			</center>
	<center>
                <div class="lead-6 line-height-1 text-success w-70px"><i class="fa fa-usd text-warning lead-4 mb-5"></i></div>
                <div class="media-body">
                  <h5 style="font-size: 20px;">Valuations</h5>
                  <p style="font-size: 20px;"> Model exit valuations for your portfolio companies at just a tap</p>
                </div>
              </div>
            </div>
	</center>
    <center>
                <div class="lead-6 line-height-1 text-danger w-70px"><i class="fa fa-table text-warning lead-4 mb-5"></i></div>
                <div class="media-body">
                  <h5 style="font-size: 20px;">Captables</h5>
                  <p style="font-size: 20px;">Analyze percentage of ownership, dilution, and fully diluted stake in each round of investment</p>
                </div>
              </div>
            </div>
	</center>
	<section class="service-agileits">
	<div class="container">

		<h3 class="text-center">Our Services</h3>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img style="text-align: center;"   src="{% static 'images/s.png' %}"><br><br>
		<h5 style="font-size: 20px;">Implementation of finance and accounting infrastructure or augmentation of current competencies.</h5>
<h5 style="font-size: 20px;">Audit readiness including memoranda preparation and other pro forma document assistance.</h5>
<h5 style="font-size: 20px;">Review, evaluation and organization of financial and accounting records for compliance.</h5>
		<h5 style="font-size: 20px;">Analysis, selection and documentation of accounting policies and procedures related to complex revenue arrangements, equity structures and share-based compensation arrangements.</h5>
<h5 style="font-size: 20px;">Assessment and implementation of internal controls and risk assessment.</h5>
		<h5 style="font-size: 20px;"> Advice and assistance in the implementation of ERP accounting systems to ensure a quick, successful deployment.</h5>
<h5 style="font-size: 20px;"> Assistance in the development and maintenance of compliant monthly/quarterly/annual internal and external reports.</h5>
<h5 style="font-size: 20px;"> Part-time and interim professional services (CFO, controller, financial reporting director/manager).
When the time comes to undertake a subsequent transaction, BlytheTeam® is ready with end-to-end services to help ensure a successful result on time and on budget.</h5>
		<ul style="font-size: 20px;">M&A services include accounting function readiness, due diligence, deal structure analysis, integration planning and implementation, accounting implications, and quality of earnings assessmen</ul>
      <!-- /END THE FEATURETTES -->
</section>	 
 
<div class="container-fluid">
{% block content %}
{% endblock %}
    </div>
    {%  include 'app/footer.html' %}	
</body>
<!-- jQuery first, then Popper.js, then Bootstrap JS, then Propeller js -->
    <script src="https://analytics.twitter.com/i/adsct?type=javascript&amp;version=1.1.0&amp;p_id=Twitter&amp;p_user_id=0&amp;txn_id=nwbqe&amp;events=%5B%5B%22pageview%22%2Cnull%5D%5D&amp;tw_sale_amount=0&amp;tw_order_quantity=0&amp;tw_iframe_status=0&amp;tpx_cb=twttr.conversion.loadPixels&amp;tw_document_href=https%3A%2F%2Ffundwave.com%2Fportfolio-management-software%2Fportfolio-management-fundwave-signup%2F%3Futm_campaign%3Dstandard%26utm_medium%3Dcpc%26utm_source%3Dgoogle%26gclid%3DCj0KCQjw4v2EBhCtARIsACan3nyver4wRs7c9FUTHE-EJ2Oa-nlgHPgYSpOijwrbKBk5n_uKqxIBHTcaAgLiEALw_wcB" type="text/javascript" class=""></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	  <script type="text/javascript" src="js/propeller.min.js"></script>
	    <script src="https://account.snatchbot.me/script.js"></script><script>window.sntchChat.Init(144947)</script> 
</html>